swagger: '2.0'
info:
  description: 加一联萌是一家文化传播的服务公司，我们通过产品与服务，帮助品牌在互联网时代用户对品牌记忆多元化需求及更有趣的互动传播方式，让品牌娱乐起来。
  version: '1.0.0'
  title: 加一联荫接口文档
host: piggy.s1.natapp.cc
tags:
  - name: user
    description: 用户相关
  - name: live
    description: 直播相关
  - name: pay
    description: 支付相关
    externalDocs:
      description: 微信支付文档
      url: 'https://pay.weixin.qq.com/wiki/doc/api/index.html'
  - name: token
    description: 认证相关
schemes:
  - http
paths:
  /users:
    get:
      tags:
        - user
      summary: 获取用户列表
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: nickname
          in: query
          description: 用户昵称
          required: false
          type: string
        - name: sex
          in: query
          description: 用户的性别，值为1时是男性，值为2时是女性，值为0时是未知
          required: false
          type: string
        - name: province
          in: query
          description: 用户个人资料填写的省份
          required: false
          type: string
        - name: city
          in: query
          description: 普通用户个人资料填写的城市
          required: false
          type: string
        - name: country
          in: query
          description: 国家，如中国为CN
          required: false
          type: string
        - name: page
          in: query
          description: 页码
          required: false
          type: integer
        - name: size
          in: query
          description: 每页记录数
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserVo'
  '/users/{userid}':
    get:
      tags:
        - user
      summary: 用户详细信息
      parameters:
        - name: userid
          in: path
          description: serviceNo
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserVo'
  /users/me:
    get:
      tags:
        - user
      summary: 当前用户详细信息
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/UserVo'
  /lives:
    get:
      tags:
        - live
      summary: 获取直播列表
      parameters:
        - name: page
          in: query
          description: 页码
          required: false
          type: integer
        - name: size
          in: query
          description: 每页记录数
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LiveVo'
  /lives/rooms:
    get:
      tags:
        - live
      summary: 获取房间列表
      parameters:
        - name: page
          in: query
          description: 页码
          required: false
          type: integer
        - name: size
          in: query
          description: 每页记录数
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LiveRoomVo'
  /authc/scanQRCodeComplete:
    get:
      tags: 
        - token
      summary: 微信扫码登陆
      description: 微信网页授权开发文档：https://mp.weixin.qq.com/wiki?t=resource/res_main&id=mp1421140842
      parameters: 
        - name: code
          in: query
          description: 换取access_token的票据
          required: true
          type: string
        - name: state
          in: query
          description: b
          required: false
          type: string
      responses:
        200:
          description: OK
    
definitions:
  UserVo:
    type: object
    properties:
      openid:
        type: string
        description: 公众号的用户标识
      nickname:
        type: string
        description: 用户的昵称
      sex:
        type: string
        description: 用户的性别，值为1时是男性，值为2时是女性，值为0时是未知
      province:
        type: string
        description: 用户所在省份
      city:
        type: string
        description: 用户所在城市
      country:
        type: string
        description: 用户所在国家
      headimgurl:
        type: string
        description: 用户头像，最后一个数值代表正方形头像大小（有0、46、64、96、132数值可选，0代表640*640正方形头像），用户没有头像时该项为空。若用户更换头像，原有头像URL将失效。
      unionid:
        type: string
        description: 只有在用户将公众号绑定到微信开放平台帐号后，才会出现该字段。
  LiveVo:
    type: object
    properties:
      channelId:
        type: string
        description: 频道标识
      streamAlias:
        type: string
        description: 流名
      publishId:
        type: string
        description: 发布者的标识
      publishName:
        type: string
        description: 发布者的名字
      createDate:
        type: string
        description: 创建日期
      closeDate:
        type: string
        description: 关闭日期
      closeReason:
        type: string
        description: 关闭类型，值为0是正常关闭，值为1是后台超时关闭，值为2是同一主播直播关闭之前没有关闭的流
  LiveRoomVo:
    type: object
    properties:
      channelId:
        type: string
        description: 频道标识
      name:
        type: string
        description: 频道的名称
      state:
        type: string
        description: 房间状态：None房间未打开，Ready、Play、Error、DeviceOffline表示准备就绪，游戏中、出错、设备离线