<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>微信扫码登陆成功</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
        document.removeEventListener('DOMContentLoaded',arguments.callee, false);
        var userinfo = [[${userJson}]];
        if (typeof android  != 'undefined') {
            android.loginSuccess(userinfo);
        }
    }, false);
    /*]]>*/
</script>
</body>
</html>